@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Body Styling */
body {
  background-color: #fcfefe; /* Cream background */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Footer Styling */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Adjust as needed */
  background-color: #f8f8f8; /* Adjust as needed */
  border-bottom: 1px solid #ddd; /* Adjust as needed */
  
}

footer a {
  text-decoration: none;
  color : #333;
}
/* Navbar Styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Adjust as needed */
  background-color: #f8f8f8; /* Adjust as needed */
  border-bottom: 1px solid #ddd; /* Adjust as needed */
  color: #333; /* Adjust as needed */
}

/* Navbar Left Side (Home) */
nav .home-link {
  flex: 1;
}

/* Navbar Center Links */
nav .app-links {
  display: flex;
  justify-content: center;
  flex: 2;
}

/* Navbar Right Side (Account and Logout) */
nav .user-logged-in {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

nav .user-logged-out {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between login and register links */
}

/* Navbar Link Styling */
nav a {
  text-decoration: none;
  color: #333; /* Adjust as needed */
  margin: 0 10px; /* Space between links */
}

nav a:hover {
  text-decoration: underline;
}


/* Main Container Styling */
.container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Headings */
h1, h2 {
  color: #333;
}

/* Application Card Styling */
.app-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Button Styling */
button {
  background-color: #524e58bd;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6b816c4f;
}

/* All Applications Layout */
.all-applications {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px; /* Space between cards */
  padding: 20px;
  box-sizing: border-box; /* Include padding in width */
}

/* Column Styling (Optional for Specific Layouts) */
.column {
  margin: 10px;
}

/* Body Styling for Centered Content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


